

/* -------------------hero start --------------------------*/

#hero {
    margin-top: 120px;
   min-height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff; /* Background color on mobile */
   color: #000; /* Text color */
   
}

.left-content {
   text-align: left;
   margin-top: 50px;
   width: 60%;
}
.left-content h1{
   gap: 0px;
   opacity: 0px;
   font-family: Lexend Deca;
   font-size: 64px;
   font-weight: 400;
   line-height: 1;
   text-align: left;

   }
   .left-content .child1{
       font-family: Lexend Deca;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-align: left;
color:#000000;
margin-top: 20px;

   }
   .left-content .child2{
      
font-family: Livvic;
font-size: 32px;
font-weight: 400;
line-height: 1;
text-align: left;
color:#000000;
margin-top: 20px;


   }
   .left-content button{
       margin-top: 50px;
       background-color: #05A689;
       font-family: Lexend Deca;
       font-size: 20px;
       font-weight: 400;
       line-height: 24px;
       text-align: left;
       color: #fff;
       padding: 10px;
       text-decoration: none;
       border-radius: 12px;
       border-color: transparent;
      


   }
   .right-content {
   width: 40%;
   float: right; /* Float the right content to the right side */
   shape-outside: inset(0); /* Wrap content around the image shape */
}

.right-content img {
    width: 764px;
    height: 849px;
    top: 54px;
    left: 732px;
    gap: 0px;
    opacity: 0px;
    
}

/* Media query for mobile */
@media (max-width: 768px) {
    #hero {
        margin-top: 120px;
       min-height: auto;
 
    }
   .right-content {
       display: none; /* Hide image on mobile */
   }
   .left-content {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    
 }
 .left-content h1{
    gap: 0px;
    opacity: 0px;
    font-family: Lexend Deca;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
 
    }
    .left-content .child1{
        font-family: Lexend Deca;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 text-align: center;
 color:#000000;
 margin-top: 10px;
 
    }
    .left-content .child2{
       
 font-family: Livvic;
 font-size: 20px;
 font-weight: 400;
 line-height: 1;
 text-align: center;
 color:#000000;
 margin-top: 10px;
 
 
    }
    .left-content button{
        margin-top: 20px;
        background-color: #05A689;
        font-family: Lexend Deca;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 12px;
        border-color: transparent;
       
 
 
    }
}
/* -------------------hero end --------------------------*/
/* ------------------- service start --------------------------*/

#service {
    background-color: #043A53; /* Background color for desktop */
    padding-top: 100px;
    padding-bottom: 100px;
}

.ser_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.container-left h1 {
   
font-family: Lato;
font-size: 60px;
font-weight: 700;
line-height: 72px;
letter-spacing: -0.02em;
text-align: left;
color:#fff;
padding: 20px;
}

.container-right p {
    color: #fff; /* Text color for p on desktop */
    font-family: Livvic;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
padding: 20px;

}
/* CSS for video section */
#video {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%; /* Set width to 100% */
    max-width: 90%; /* Set maximum width */
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    object-fit: cover; /* Ensure video covers entire container */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    background-color: #fff; /* Background color of play button */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button svg {
    margin-left: 12px;
    width: 70%;
    height: 70%;
    fill: #05A689;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    #video {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
    .video-container {
        padding-bottom: 75%; /* Change aspect ratio for mobile */
    }

    .play-button {
        width: 80px; /* Decrease play button size for smaller screens */
        height: 80px; /* Decrease play button size for smaller screens */
    }

    .play-button svg {
        width: 50%; /* Decrease play button icon size for smaller screens */
        height: 50%; /* Decrease play button icon size for smaller screens */
    }
}



/* Media query for mobile */
@media (max-width: 768px) {

        #service {
    background-color: #043A53; /* Background color for desktop */
    padding-top: 50px;
    padding-bottom: 50px;
}
  

    .ser_container {
        flex-direction: column; /* Stack elements vertically */
    }

    .container-left h1 {
        color: #fff; /* Text color for h1 on mobile */
        font-size: 20px; /* Example font size */
        text-align: center; /* Center align on mobile */
       line-height: 30px;
    }

    .container-right p {
        color: #fff; /* Text color for p on mobile */
        font-size: 15px; /* Example font size */
        text-align: center; /* Center align on mobile */
    }
}
@media (max-width: 1024px) {
    .video-container {
        max-width: 90%; /* Adjust max width for smaller screens */
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .video-container {
        max-width: 100%; /* Adjust max width for smaller screens */
        justify-content: center;
    }

    .play-button {
        width: 80px; /* Decrease play button size for smaller screens */
        height: 80px; /* Decrease play button size for smaller screens */
    }

    .play-button svg {
        width: 50%; /* Decrease play button icon size for smaller screens */
        height: 50%; /* Decrease play button icon size for smaller screens */
    }
}

/* -------------------service end --------------------------*/
/* -------------------book-call start --------------------------*/


#book-call {
    height: 134px;
    background: #05A589;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #book-call a{
        font-family: Lato;
font-size: 36px;
font-weight: 700;
line-height: 72px;
text-transform: uppercase;
text-align: center;
color:#fff;

    }
    @media (max-width: 768px) {
        #book-call a{
        font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
text-align: center;
color:#fff;

    }  
    }

    /* -------------------book-call end --------------------------*/
     /* -------------------area-experties start --------------------------*/
     

    #area-experties {
        background-color: #fff; /* Background color for desktop */
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .experties_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .expert-right {
        width: 70%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .expert-left h1 {
        font-family: Lato;
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.02em;
        text-align: left;
        margin: 0;
       }
       .child-div p{   
        
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #12141D;
        
        }
       .child-div{ 
    
    word-wrap: break-word; 
    height: Hug (96px)px;
    top: -50px;
    left: 45px;
    padding: 32px 24px 32px 24px;
    gap: 32px;
    border-radius: 16px;
    opacity: 0px;
    background-color: #F2F5F6;
    margin: 5px;
    }
    @media screen and (max-width: 768px) {
        .experties_container {
            display:block;
            justify-content: space-between;
            align-items: center;
        }
        .expert-right {
        width: 100%; 
        display: block;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .expert-left h1 {
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.02em;
        text-align: center;
        margin: 0;
       }
       .child-div p{   
        
        font-family: Lato;
        font-size: 21px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        color: #12141D;
        
        }
        #area-experties {
        background-color: #fff; /* Background color for desktop */
        padding-top: 30px;
        padding-bottom: 30px;
    }
    }
     /* -------------------area-experties end --------------------------*/
     /* -------------------services-pak start --------------------------*/

   


     #services-pak{
        background-color: #043A53; 
        height: Fixed (226px)px;
        justify: space-between;
        opacity: 0px;
      
    padding: 50px;
    
    
       
     }   
     .pak-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: -10px;
     }
     .child-div1{
        background-color: #043A53; 
     width: 30%;
     }
     .child-div1 h1{
       
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    padding: 20px;
    
     }
     .child-div1 p {
      
     text-wrap: wrap;  
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    
    color: #fff;
     }
     @media screen and (max-width: 768px) {
        .pak-container{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: -10px;
     }
     .child-div1{
        background-color: #043A53; 
     width: 100%;
     }
      }

        /* -------------------services-pak end --------------------------*/


        /*------------------------ testimonial-section start------------------------*/


           
         /*------------------------ testimonial-section end------------------------*/


/*------------------------ blog-section start------------------------*/



         .blog-section {
            padding: 50px 0; /* Adjust padding as needed */
            background-color: #fff;
        }
        .blog-container {
            width: 90%;
            margin: 0 auto; /* Center the container */
            
        }
        .blog-heading{
            display: flex;
            
        }
        .blog-heading a{
            text-wrap: nowrap;
           margin-top: 30px;
           text-decoration: none;
           
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: right;
    
        }
        .blog-heading h1{
            font-family: Lato;
            font-size: 60px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.02em;
            text-align: left;
        }
        .blog-posts {
            display: flex;
            flex-wrap: wrap; /* Allow posts to wrap */
            justify-content: space-around; /* Align posts evenly */
            margin-top: 20px; /* Add margin at the top */
        }
        .post {
            padding-bottom: 10px;
            border: 1px solid #ddd; /* Add border to each post */
            margin-bottom: 20px; /* Add margin at the bottom */
            width: calc(33.33% - 40px); /* Set width for each post */
            box-sizing: border-box; /* Include padding and border in width calculation */
            border-radius: 8px; /* Add border-radius for rounded corners */
        }
        .post img {
            width: 100%; /* Ensure images don't exceed container width */
            height: auto; /* Maintain aspect ratio */
            margin-bottom: 10px; /* Add margin at the bottom of the image */
            border-top-left-radius: 8px; /* Rounded corners for top-left */
            border-top-right-radius: 8px; /* Rounded corners for top-right */
        }
        .post-date {
          
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color:#000;
        padding-left: 8px;  
    
        }
        .post-title {
            
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color:#000;
        padding-left: 8px;  
    
        }
        .post-des {
           
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color:#404040;
        padding-left: 8px;  
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis for overflow text */
        display: -webkit-box; /* Set as a block element */
        -webkit-line-clamp: 2; /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Set vertical orientation */
    
    
        }
        .post a {
            padding: 8px;  
            color: #12141D; /* Adjust link color */
            text-decoration: none; /* Remove default underline */
          
            font-family: Lato;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            text-align: right;
    
        }
        .post a:hover {
            text-decoration: underline; /* Add underline on hover */
        }
        @media screen and (max-width: 768px) {
            .blog-section {
                padding: 50px 0; /* Adjust padding as needed */
                background-color: #fff;
            }
            .blog-container {
                width: 100%;
                margin: 0 auto; /* Center the container */
                
            }
            .blog-heading{
                display: block;
                
            }
            .blog-heading h1{
                font-family: Lato;
                font-size: 40px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: -0.02em;
                text-align: center;
            }
            .blog-posts {
            display: block;
            flex-wrap: wrap; /* Allow posts to wrap */
            justify-content: space-around; /* Align posts evenly */
            margin-top: 20px; /* Add margin at the top */
        }
        .post {
            padding-bottom: 10px;
            border: 1px solid #ddd; /* Add border to each post */
            margin-bottom: 20px; /* Add margin at the bottom */
            width: calc(100% ); /* Set width for each post */
            box-sizing: border-box; /* Include padding and border in width calculation */
            border-radius: 8px; /* Add border-radius for rounded corners */
        }
        }

        /*------------------------ blog-section end------------------------*/