---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Livvic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ --> 
    <style>
      
    </style>
    <section id="hero">
        <div class="left-content">
            <h1>DR MUHAMMAD MASOOD KHOKHAR LT COL. (R)</h1>
            <p class="child1">MBBS, FCPC, MCPS</p>
            <p class="child2">Renowned Psychiatrist & Lifestyle Medicine Practitioner in Pakistan</p>
            <button>GET TO KNOW ME</button>
        </div>
        <div class="right-content">
            <img src="/assets/images/doctor.png" alt="Doctor Image">
        </div>
    </section>
   <!-- ============================================ -->
    <!--                    service                      -->
    <!-- ============================================ --> 
   
<section id="service">
   <div class="ser_container">
        <div class="container-left">
        <h1>33 YEARS OF SERVICE  EXCELLENCE</h1>
        </div> 
        <div class="container-right">
         <p>Dr. Masood is a neuropsychiatrist and health practitioner with 33 years of experience. He is an active member of the Pakistan Medical & Dental Association (PMDC), providing consultancy services to patient from Pakistan, Saudi Arabia, Canada & UK. </p>
         <p>Dr. Masood has been awarded the Tamgha-i-Imtiaz (M), an award of service excellence, for his contributions to the medical field in Pakistan. He is currently serving as Head of Department Psychiatry and Associate Professor at the IIMCT Riphah Medical Hospital.</p>
        </div> 
   </div>
   <div id="video">
   <div class="video-container">
    <video id="doctor-video"  controls>
        <source src="video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="play-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#05A589" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
        </svg>
    </div>
</div>
</div>
<style>
#book-call {
    height: 134px;
    background: #05A589;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #book-call a{
        font-family: Lato;
font-size: 36px;
font-weight: 700;
line-height: 72px;
text-transform: uppercase;
text-align: center;
color:#fff;

    }
    @media (max-width: 768px) {
        #book-call a{
        font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
text-align: center;
color:#fff;

    }  
    }
</style>

</section>
<!-- ============================================ -->
    <!--                    book a call                      -->
 <!-- ============================================ --> 
 <section id="book-call">
    <a href="">Book a consultation call with Dr Masood</a>
 </section>

   
{% endblock %}